<!DOCTYPE html>
<html>
    <head>
        <title>Industrial Classification</title>
        <style> * {
            font-size: 30px;
            max-width: 500px;
            margin-top: 20px;
            margin-right: auto;
            margin-bottom: auto;
            margin-left: auto;
        
        }</style>
    </head>
<body>
    Industrial Classification<br/>
    By: Ahmed Abdulrazik Abduallah<br/>
    <input id="job-title" placeholder="enter job title"" type='text'>
    <button id="predict-button" >predict</button>   
    <p></p>
    <p id="prediction"></p>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>            
        $("#predict-button").click(function(event){
            let job_title = $("#job-title").val();   
            let message = {
                "job_title": job_title
            }
            console.log(job_title)
            $.post("http://localhost:5000/predict", JSON.stringify(message),function(response){
                $("#prediction").text('industry for '+job_title+' is '+response.industry);
                console.log(response);                
            });
        });
    </script>
</body>

</html>